<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title size="large">
      <div>{{ trip.label }}</div>
    </ion-title>
    <div class="space-left-15">
      {{ trip.startDate | date : "dd-MM-YYYY HH:MM" }}
    </div>

    @if (isActive) {
    <ion-toolbar>
      <ion-button
        slot="start"
        size="small"
        color="medium"
        fill="outline"
        (click)="openTripModal()"
      >
        <ion-icon name="pencil-outline"></ion-icon>
      </ion-button>

      <ion-button
        slot="end"
        size="small"
        color="danger"
        fill="outline"
        (click)="deleteTrip()"
      >
        <ion-icon name="trash-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
    }
  </ion-toolbar>

  <ion-list>
    <ion-item>
      <ion-label
        ><b>Одометр перед выездом: </b> {{ trip.odometrCount }}км.</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label
        ><b>Топливо перед выездом: </b> {{ trip.flueCount }}л.</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label
        ><b>AddBlue перед выездом: </b>
        {{ trip.addBlueCount | round : 1 }}л.</ion-label
      >
    </ion-item>
  </ion-list>

  @if (trip.formuls.length) {
  <ion-list class="values">
    <ion-item>
      <ion-label
        ><b>Израсходовано топлива: </b>
        {{ flueSumConsumbption | round }}л.</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label
        ><b>Остаток топлива в баке: </b>
        {{
          trip.flueCount + additionFlue - flueSumConsumbption | round
        }}л.</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label
        ><b>Израсходовано AddBlue: </b>
        {{ addBlueConsumption | round : 1 }}л.</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label
        ><b>Остаток AddBlue: </b>
        {{ trip.addBlueCount - addBlueConsumption | round : 1 }}л.</ion-label
      >
    </ion-item>

    <ion-item>
      <ion-label><b>Текущий одометра: </b> {{ currentOdometr }}км.</ion-label>
    </ion-item>
  </ion-list>

  <ion-item class="ion-margin-top">
    <ion-toolbar class="calculation-block">
      <div><b>Расчет расхода addBlue:</b></div>
      <div><i>(X / 100) x 4</i></div>
      <div class="text-small-size">
        <b>X(Израсходовано топлива)</b> = {{ flueSumConsumbption | round }}
      </div>
      <div class="text-small-size">
        <b>Израсходовано</b> = {{ addBlueConsumption | round : 1 }}л
      </div>
    </ion-toolbar>
  </ion-item>
  }

  <ion-item class="ion-margin-top">
    <ion-toolbar class="calculation-block">
      <div>
        <ion-toolbar>
          <b>Расчет расхода топлива:</b>

          @if (isActive) {
          <ion-button slot="end" size="small" (click)="openFlueCalcModal()">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          }
        </ion-toolbar>
        <div><i>(X * (43.8 + (Y x 1.3)) / 100) + V</i></div>
      </div>

      @for (formula of trip.formuls; track $index) {
      <div class="calculation-block">
        <div class="text-small-size">
          <b>Дозаправка</b> = {{ formula.flueCount }}л.
        </div>
        <div class="text-small-size">
          <b>X(дистанция)</b> = {{ formula.distance }}км.
        </div>
        <div class="text-small-size">
          <b>Y(вес)</b> = {{ formula.weight }}т.
        </div>
        <div class="text-small-size">
          <b>V(коефициент)</b> = {{ formula.coefficient }}%
        </div>
        <div class="text-small-size">
          <b>Израсходовано топлива</b> = {{ formula.flueConsumption | round }}л
        </div>

        @if (isActive) {
        <ion-toolbar>
          <!-- EDIT BUTTON -->
          <ion-button
            slot="start"
            fill="outline"
            color="medium"
            size="small"
            (click)="openFlueCalcModal(formula)"
          >
            <ion-icon name="pencil-outline"></ion-icon>
          </ion-button>

          <!-- DELETE BUTTON -->
          <ion-button
            slot="end"
            size="small"
            fill="outline"
            color="danger"
            (click)="deleteFlueCalc(formula.formulaId)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </ion-toolbar>
        }
      </div>
      }
    </ion-toolbar>
  </ion-item>

  @if (isActive) {
  <div class="finish-button">
    <ion-button
      slot="end"
      size="small"
      expand="block"
      fill="clear"
      color="danger"
      (click)="finishTrip()"
    >
      Завершить поездку
    </ion-button>
  </div>
  }
</ion-content>
