<ion-tabs>
  <!-- <ion-toolbar>
    <ion-button fill="block" (click)="debug()">debug</ion-button>
  </ion-toolbar> -->
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="trip" href="trip">
      <ion-icon aria-hidden="true" name="car-outline"></ion-icon>
      <ion-label>Поездка</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history" href="history">
      <ion-icon aria-hidden="true" name="ellipse"></ion-icon>
      <ion-label>История</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
