<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title>История поездок</ion-title>
  </ion-toolbar>

  <ion-toolbar>
    <ion-list>
      @for (trip of trips(); track $index) { @if (trip.endDate) {
      <ion-item-sliding>
        <ion-item-options side="start">
          <ion-item-option color="danger">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
        </ion-item-options>

        <ion-item [href]="['history/'+trip.tripId]">
          <ion-label>{{trip.label}}</ion-label>
          <ion-label class="date"
            >{{trip.startDate | date: 'dd-MM-YYYY'}}/{{trip.endDate | date:
            'dd-MM-YYYY'}}</ion-label
          >
        </ion-item>
      </ion-item-sliding>
      } }
    </ion-list>
  </ion-toolbar>
</ion-content>
