<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Отмена</ion-button>
    </ion-buttons>
    <ion-title>Добавить расчет</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true" [disabled]="form.invalid"
        >Сохранить</ion-button
      >
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" [formGroup]="form">
  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="Получино топлива (л)"
      formControlName="flueCount"
      type="number"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="(X) *Пройденая дистанция (км)"
      type="number"
      formControlName="distance"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="(Y) *Вес груза (т.)"
      type="number"
      formControlName="weight"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-input
      labelPlacement="stacked"
      label="(V) *Коеф-ент. норм расхода топлива (%)"
      type="number"
      formControlName="coefficient"
    ></ion-input>
  </ion-item>

  <ion-item>
    <ion-segment formControlName="coefficientOperator">
      <ion-segment-button value="plus">
        <ion-label>
          <ion-icon name="add-outline"></ion-icon>
        </ion-label>
      </ion-segment-button>
      <ion-segment-button value="minus">
        <ion-label>
          <ion-icon name="remove-outline"></ion-icon>
        </ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-item>
</ion-content>
